* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    scroll-behavior: smooth;
    background-image: url(./IMAGES/cohete-background.svg);
    background-repeat: no-repeat;
    background-position: right -10vw top 185vh;
    z-index: 1;
}

nav {
    margin-right: 4rem;
}

.divLogoResponsive {
    display: none;
}

.ulNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    z-index: 9999;
    margin-bottom: 0;
    padding-left: 0;
    background-color: white;
}

.liNav img {
    margin: 2rem 0 2rem 4rem;
    width: 8rem;
}

.liNav {
    margin-right: 2.5rem;
}

.liNav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

.liNav a:hover {
    color: #FF5757;
}

.liNav button {
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #BDDCF2;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
}


.liNav button:hover {
    background-color: #FF5757;
    color: white;
}

.liNav:first-child {
    margin-right: auto;
    margin-left: 0;
}

.botonResponsive {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.br1, .br2, .br3 {
    display: block;
    background: #000;
    height: 0.3rem;
    width: 3rem;
    margin: 1rem auto;
    border-radius: 0.2rem;

}

.divBanner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52rem;
    background: url(./images/banner-boosters.png) bottom;
}

.divBanner3 {
    position: absolute;
    top: 2rem;
}

.tituloBanner {
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.divBanner2 h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 4rem;
}

.divBanner2 h2 {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}

.divBotonBanner {
    margin-top: 3rem;
}

.divBotonBanner, .divBotonTrafico, .divBotonSitio {
    display: flex;
    justify-content: center;
}

.botonBanner, .botonTrafico, .botonSitio {
    font-size: 2.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
    background-color: #BDDCF2;
    margin-top: 2rem;
}

.botonBanner:hover, .botonTrafico:hover, .botonSitio:hover {
    background-color: #FF5757;
    color: white;
}

.seccionTrabajamos {
    margin: 10rem 0 5rem 10rem;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
}

.allCardsTrabajamosPrimeraFila, .allCardsTrabajamosSegundaFila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
    opacity: 0;
}

.divCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: 27rem;
    box-shadow: 5px 5px 10px 5px rgba(53, 53, 53, 0.1);
    border-radius: 0.7rem;
    position: relative;
    margin-bottom: 7rem;
    z-index: 1000;
    background-color: white;
}

.divCard:hover {
transform: scale(1.05);
}

.divContenidos, .divSeo, .divLink {
    margin-bottom: 0;
}

.tagCard {
    position: absolute;
    top: 7%;
    left: -5%;
    background-color: #BDDCF2;
    width: 18rem;
    border-radius: 1rem;
}

.tagOt {
width: 28rem;
}

.tagKey {
    width: 22rem;
}

.tagContenidos {
    width: 31rem;
}

.tagSeo {
    width: 16rem;
}

.tagLink {
    width: 17rem;
}

.tituloCard {
    text-align: center;
    margin-bottom: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.textoCard {
    padding-top: 7.5rem;
    text-align: center;
    margin: 0 3rem 0 3rem;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.mostrarCards {
    animation: mostrarCards 0.7s ease-out;
}
@keyframes mostrarCards {
0% {
    transform: translateY(50px);
}
100% {
    transform: translateY(0);
}
}

.seccionAdn, .seccionQuienes {
    margin: 10rem 0 0 10rem;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
}

.seccionContacto {
    margin: 5rem 0 0 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #FF5757;
    font-family: 'Quicksand', sans-serif;
}

.divSeccionAdn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

.divSeccionAdn img {
    width: 600px;
    margin: 0 10rem 0 0;
}

.divSeccionAdn2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin-top: 7rem;
    margin-left: 7.5rem;
    opacity: 0;
}

.divSeccionAdn2 img {
    width: 600px;
}

.divSeccionAdn2Img {
    width: 50%;
}

.divAliadosNecesitamos {
    width: 50%;
}

.divAdn {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 10rem;
}

.tituloAdn, .tituloFamilia, .tituloVision {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1.5rem;
}

.tituloAliados, .tituloNecesitamos {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1.5rem;
}

.textoFamilia, .textoVision {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.textoAdn {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-right: 1rem;
}

.textoAliados, .textoNecesitamos {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.divFamilia, .divVision {
    display: flex;
    flex-direction: column;
    margin: 4rem 0 0 10rem;
}

.divAliados, .divNecesitamos {
    display: flex;
    flex-direction: column;
    margin: 4rem 10rem 0 0;
}

.textoQuienes {
    margin: 5rem 10rem 7rem 10rem;
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
}

hr {
    color: gray;
    width: 100%;
    margin-top: 5rem;
}

#contacto {
    background-image: url(./IMAGES/cohete-background-2.svg);
    background-repeat: no-repeat;
    background-position: left -10vw bottom 10vh;
    z-index: 1;
}

.divFormContacto {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.formContacto {
    width: 40%;
}

.labelContacto {
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.asterisco {
    color: red;
    font-size: 2rem;
}

.form-control {
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.btnEnviar {
    display: flex;
    justify-content: flex-end;
}

.btnForm {
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    background-color: #BDDCF2;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

.btnForm:hover {
    background: #FF5757;
}

footer {
    margin-top: 10rem;
}

.ulFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    z-index: 9999;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FF5757;
}

.ulFooter span {
    font-size: 2rem;
    color: white;
}

.liFooter a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

.liFooter a:hover {
    color: black;
}

.mensajeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensajeContainer h4 {
    font-size: 2.2rem;
    color: #000;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    margin-top: 25rem;
    margin-bottom: 2rem;
}

.mensajeContainer a {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.mensajeContainer a:hover {
    color: #FF5757;
}

.bodyForm {
    background-image: url(./IMAGES/cohete-background-form.svg), url(./IMAGES/cohete-background-form-2.svg);
    background-repeat: no-repeat;
    background-position: right -125px top 25px, left -125px bottom -400px;
    background-color: #BDDCF2;
}

.divDesarrolladoPor {
    text-align: center;
    margin-top: 1rem;
}

.divDesarrolladoPor p, .divDesarrolladoPor a {
    font-size: 1.125rem;
    text-decoration: none;
    color: #000;
}

.divDesarrolladoPor a:hover {
    color: #FF5757;
}

/* Media queries */

@media only screen and (max-width: 448px) {

    .bodyForm {
        background-image: none;
    }

    .mensajeContainer {
        text-align: center;
    }

    body {
        background-image: none;
    }

    .ulNav {
        display: none;
        flex-direction: column;
        opacity: 0;
    }

    @keyframes mostrarResponsive {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    .liNav {
        margin-bottom: 2rem;
    }

    .liNav:first-child {
        margin-bottom: 0;
    }

    nav {
        margin-right: 0;
    }

    .divLogoResponsive {
        display: block;
    }

    .divLogoResponsive img {
        width: 6rem;
        margin: 1rem 0 1rem 2rem;
    }

    .ulNav.activado {
        display: flex;
        animation: mostrarResponsive 500ms ease-in-out both;
    }

    .br1.animado {
        transform: rotate(-45deg) translate(-1rem, 0.8rem);
    }

    .br2.animado {
        opacity: 0;
    }

    .br3.animado {
        transform: rotate(45deg) translate(-1rem, -0.8rem);
    }

    .liNav img {
        display: none;
    }

    .botonResponsive {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2.5rem;
    }

    .divBanner {
        background: url(./images/banner-boosters.png) left;
        height: 37rem;
    }

    .divBanner2 {
        margin: 0 1.6rem 0 1.6rem;
    }

    .divBanner2 h1 {
        font-size: 1.8rem;
    }

    .divBanner2 h2 {
        font-size: 1.4rem;
    }

    .seccionTrabajamos, .seccionAdn, .seccionQuienes {
        margin: 8rem 2rem 4rem 2rem;
        text-align: center;
        font-size: 2.2rem;
    }

    .divSeccionAdn {
        flex-direction: column;
    }

    .divAdn {
        margin: 0 2rem 4rem 2rem;
        text-align: center;
    }

    .divFamilia {
        margin: 0 2rem 3rem 2rem;
        text-align: center;
    }

    .divAliados, .divNecesitamos {
        text-align: center;
        margin: 0;
    }

    .divNecesitamos {
        margin: 4rem 0 3rem 0;
    }

    .divSeccionAdn2 {
        margin: 6rem 2rem 0 2rem;
    }

    .divSeccionAdn2Img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .divAliadosNecesitamos {
        width: 100%;
    }

    .divSeccionAdn img, .divSeccionAdn2 img {
        margin: 0;
        width: 30rem;
    }

    .tituloAdn, .tituloAliados, .tituloFamilia, .tituloNecesitamos {
        font-size: 1.8rem;
    }

    .textoAdn, .textoAliados, .textoFamilia, .textoNecesitamos {
        font-size: 1.6rem;
    }

    .textoAliados, .textoNecesitamos {
        margin: 0;
    }

    .textoQuienes {
        margin: 0 2rem 0 2rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .formContacto {
        width: 70%;
    }

    #contacto {
        background-image: none;
    }

    .btnForm {
        width: 100%;
    }

    .botonBanner, .botonTrafico, .botonSitio {
        font-size: 1.8rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding: 1.3rem 2.8rem 1.3rem 2.8rem;
        border-radius: 0.7rem;
        border: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
        background-color: #BDDCF2;
        margin-top: 2rem;
    }

    .card1, .card2, .card3 {
        width: 32rem;
        height: 23.5rem;
    }

    .card4, .card5 {
        width: 32rem;
        height: 22.5rem;
    }

    .card6 {
        width: 32rem;
        height: 26rem;
    }

    .textoCard {
        padding-top: 6.3rem;
        margin: 0 2rem 0 2rem;
    }

    .liFooter a {
        font-size: 1.4rem;
    }

    .liFooter {
        text-align: center;
    }
}

@media only screen and (min-width: 449px) and (max-width: 467px) {

    .bodyForm {
        background-image: none;
    }

    .mensajeContainer {
        text-align: center;
    }

    body {
        background-image: none;
    }

    .ulNav {
        display: none;
        flex-direction: column;
        opacity: 0;
    }

    @keyframes mostrarResponsive {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    .liNav {
        margin-bottom: 2rem;
    }

    .liNav:first-child {
        margin-bottom: 0;
    }

    nav {
        margin-right: 0;
    }

    .divLogoResponsive {
        display: block;
    }

    .divLogoResponsive img {
        width: 6rem;
        margin: 1rem 0 1rem 2rem;
    }

    .ulNav.activado {
        display: flex;
        animation: mostrarResponsive 500ms ease-in-out both;
    }

    .br1.animado {
        transform: rotate(-45deg) translate(-1rem, 0.8rem);
    }

    .br2.animado {
        opacity: 0;
    }

    .br3.animado {
        transform: rotate(45deg) translate(-1rem, -0.8rem);
    }

    .liNav img {
        display: none;
    }

    .botonResponsive {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2.5rem;
    }

    .divBanner {
        background: url(./images/banner-boosters.png) left;
        height: 37rem;
    }

    .divBanner2 {
        margin: 0 2rem 0 2rem;
    }

    .divBanner2 h1 {
        font-size: 2.2rem;
    }

    .divBanner2 h2 {
        font-size: 1.7rem;
    }

    .seccionTrabajamos, .seccionAdn, .seccionQuienes {
        margin: 8rem 2rem 4rem 2rem;
        text-align: center;
        font-size: 2.2rem;
    }

    .divSeccionAdn {
        flex-direction: column;
    }

    .divAdn {
        margin: 0 2rem 4rem 2rem;
        text-align: center;
    }

    .divFamilia {
        margin: 0 2rem 3rem 2rem;
        text-align: center;
    }

    .divAliados, .divNecesitamos {
        text-align: center;
        margin: 0;
    }

    .divNecesitamos {
        margin: 4rem 0 3rem 0;
    }

    .divSeccionAdn2 {
        margin: 6rem 2rem 0 2rem;
    }

    .divSeccionAdn2Img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .divAliadosNecesitamos {
        width: 100%;
    }

    .divSeccionAdn img, .divSeccionAdn2 img {
        margin: 0;
        width: 30rem;
    }

    .tituloAdn, .tituloAliados, .tituloFamilia, .tituloNecesitamos {
        font-size: 1.8rem;
    }

    .textoAdn, .textoAliados, .textoFamilia, .textoNecesitamos {
        font-size: 1.6rem;
    }

    .textoAliados, .textoNecesitamos {
        margin: 0;
    }

    .textoQuienes {
        margin: 0 2rem 0 2rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .formContacto {
        width: 70%;
    }

    #contacto {
        background-image: none;
    }

    .btnForm {
        width: 100%;
    }

    .botonBanner, .botonTrafico, .botonSitio {
        font-size: 1.8rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding: 1.3rem 2.8rem 1.3rem 2.8rem;
        border-radius: 0.7rem;
        border: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
        background-color: #BDDCF2;
        margin-top: 2rem;
    }

    .card1, .card2, .card3 {
        width: 35rem;
        height: 23.5rem;
    }

    .card4, .card5 {
        width: 35rem;
        height: 21.5rem;
    }

    .card6 {
        width: 35rem;
        height: 26.5rem;
    }

    .textoCard {
        padding-top: 6.3rem;
        margin: 0 2rem 0 2rem;
    }
}

@media only screen and (min-width: 468px) and (max-width: 799px) {

    .bodyForm {
        background-image: none;
    }

    .mensajeContainer {
        text-align: center;
    }

    body {
        background-image: none;
    }

    .ulNav {
        display: none;
        flex-direction: column;
        opacity: 0;
    }

    @keyframes mostrarResponsive {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    .liNav {
        margin-bottom: 2rem;
    }

    .liNav:first-child {
        margin-bottom: 0;
    }

    nav {
        margin-right: 0;
    }

    .divLogoResponsive {
        display: block;
    }

    .divLogoResponsive img {
        width: 6rem;
        margin: 1rem 0 1rem 2rem;
    }

    .ulNav.activado {
        display: flex;
        animation: mostrarResponsive 500ms ease-in-out both;
    }

    .br1.animado {
        transform: rotate(-45deg) translate(-1rem, 0.8rem);
    }

    .br2.animado {
        opacity: 0;
    }

    .br3.animado {
        transform: rotate(45deg) translate(-1rem, -0.8rem);
    }

    .liNav img {
        display: none;
    }

    .botonResponsive {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2.5rem;
    }

    .divBanner {
        background: url(./images/banner-boosters.png) left;
        height: 40rem;
    }

    .divBanner2 {
        margin: 0 2rem 0 2rem;
    }

    .divBanner2 h1 {
        font-size: 2.4rem;
    }

    .divBanner2 h2 {
        font-size: 1.8rem;
    }

    .seccionTrabajamos, .seccionAdn, .seccionQuienes {
        margin: 8rem 2rem 4rem 2rem;
        text-align: center;
        font-size: 2.4rem;
    }

    .divSeccionAdn {
        flex-direction: column;
    }

    .divAdn {
        margin: 0 2rem 4rem 2rem;
        text-align: center;
    }

    .divFamilia {
        margin: 0 2rem 3rem 2rem;
        text-align: center;
    }

    .divAliados, .divNecesitamos {
        text-align: center;
        margin: 0;
    }

    .divNecesitamos {
        margin: 4rem 0 3rem 0;
    }

    .divSeccionAdn2 {
        margin: 6rem 2rem 0 2rem;
    }

    .divSeccionAdn2Img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .divAliadosNecesitamos {
        width: 100%;
    }

    .divSeccionAdn img, .divSeccionAdn2 img {
        margin: 0;
        width: 30rem;
    }

    .tituloAdn, .tituloAliados, .tituloFamilia, .tituloNecesitamos {
        font-size: 1.8rem;
    }

    .textoAdn, .textoAliados, .textoFamilia, .textoNecesitamos {
        font-size: 1.6rem;
    }

    .textoAliados, .textoNecesitamos {
        margin: 0;
    }

    .textoQuienes {
        margin: 0 2rem 0 2rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .formContacto {
        width: 70%;
    }

    #contacto {
        background-image: none;
    }

    .btnForm {
        width: 100%;
    }

    .botonBanner, .botonTrafico, .botonSitio {
        font-size: 1.8rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding: 1.3rem 2.8rem 1.3rem 2.8rem;
        border-radius: 0.7rem;
        border: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
        background-color: #BDDCF2;
        margin-top: 2rem;
    }

    .card1, .card2, .card3 {
        width: 35rem;
        height: 23.5rem;
    }

    .card4, .card5 {
        width: 35rem;
        height: 21.5rem;
    }

    .card6 {
        width: 35rem;
        height: 26.5rem;
    }

    .textoCard {
        padding-top: 6.3rem;
        margin: 0 2rem 0 2rem;
    }
}

/* Tablet */
/* hasta esta MQ incluida va el menu hamburguesa */
@media only screen and (min-width: 800px) and (max-width: 1023px) {

    .bodyForm {
        background-position: right -155px top -77px, left -125px bottom -320px;
    }

    .mensajeContainer {
        text-align: center;
    }

        body {
            background-image: none;
        }

        .ulNav {
            display: none;
            flex-direction: column;
            opacity: 0;
        }
    
        @keyframes mostrarResponsive {
            from {
                opacity: 0;
            } to {
                opacity: 1;
            }
        }
    
        .liNav {
            margin-bottom: 2rem;
        }
    
        .liNav:first-child {
            margin-bottom: 0;
        }
    
        nav {
            margin-right: 0;
        }
    
        .divLogoResponsive {
            display: block;
        }
    
        .divLogoResponsive img {
            width: 6rem;
            margin: 1rem 0 1rem 2rem;
        }
    
        .ulNav.activado {
            display: flex;
            animation: mostrarResponsive 500ms ease-in-out both;
        }
    
        .br1.animado {
            transform: rotate(-45deg) translate(-1rem, 0.8rem);
        }
    
        .br2.animado {
            opacity: 0;
        }
    
        .br3.animado {
            transform: rotate(45deg) translate(-1rem, -0.8rem);
        }
    
        .liNav img {
            display: none;
        }
    
        .botonResponsive {
            display: block;
            position: absolute;
            top: 2rem;
            right: 2.5rem;
        }
    
        .divBanner {
            background: url(./images/banner-boosters.png) bottom;
            height: 40rem;
        }
    
        .divBanner2 {
            margin: 0 2rem 0 2rem;
        }
    
        .divBanner2 h1 {
            font-size: 2.4rem;
        }
    
        .divBanner2 h2 {
            font-size: 1.8rem;
        }
    
        .seccionTrabajamos, .seccionAdn, .seccionQuienes {
            margin: 8rem 2rem 4rem 2rem;
            text-align: center;
            font-size: 2.4rem;
        }
    
        .divSeccionAdn {
            flex-direction: column;
        }
    
        .divAdn {
            margin: 0 2rem 4rem 2rem;
            text-align: center;
        }
    
        .divFamilia {
            margin: 0 2rem 3rem 2rem;
            text-align: center;
        }
    
        .divAliados, .divNecesitamos {
            text-align: center;
            margin: 0;
        }
    
        .divNecesitamos {
            margin: 4rem 0 3rem 0;
        }
    
        .divSeccionAdn2 {
            margin: 6rem 2rem 0 2rem;
        }
    
        .divSeccionAdn2Img {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .divAliadosNecesitamos {
            width: 100%;
        }
    
        .divSeccionAdn img, .divSeccionAdn2 img {
            margin: 0;
            width: 40rem;
        }
    
        .tituloAdn, .tituloAliados, .tituloFamilia, .tituloNecesitamos {
            font-size: 1.8rem;
        }
    
        .textoAdn, .textoAliados, .textoFamilia, .textoNecesitamos {
            font-size: 1.6rem;
        }
    
        .textoAliados, .textoNecesitamos {
            margin: 0;
        }
    
        .textoQuienes {
            margin: 0 2rem 0 2rem;
            font-size: 1.6rem;
            text-align: center;
        }
    
        .formContacto {
            width: 70%;
        }
    
        #contacto {
            background-image: none;
        }
    
        .btnForm {
            width: 100%;
        }
    
        .botonBanner, .botonTrafico, .botonSitio {
            font-size: 1.8rem;
            font-family: 'Quicksand', sans-serif;
            font-weight: bold;
            padding: 1.3rem 2.8rem 1.3rem 2.8rem;
            border-radius: 0.7rem;
            border: none;
            cursor: pointer;
            box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
            background-color: #BDDCF2;
            margin-top: 2rem;
        }
    
        .card1, .card2, .card3 {
            width: 32rem;
            height: 25rem;
        }
    
        .card4, .card5 {
            width: 32rem;
            height: 23rem;
        }
    
        .card6 {
            width: 32rem;
            height: 26rem;
        }
    
        .textoCard {
            padding-top: 6.3rem;
            margin: 0 2rem 0 2rem;
        } 
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {

    .bodyForm {
        background-position: right -155px top -77px, left -125px bottom -320px;
    }

    .mensajeContainer {
        text-align: center;
    }

    body {
        background-image: none;
    }

    .divBanner {
        background: url(./images/banner-boosters.png) bottom;
        height: 40rem;
    }

    .divBanner2 {
        margin: 0 2rem 0 2rem;
    }

    .divBanner2 h1 {
        font-size: 2.8rem;
    }

    .divBanner2 h2 {
        font-size: 2.2rem;
    }

    .seccionTrabajamos, .seccionAdn, .seccionQuienes {
        margin: 8rem 2rem 4rem 7rem;
        font-size: 2.4rem;
    }


    .divAliados, .divNecesitamos {
        margin: 0;
    }

    .divAliadosNecesitamos {
        margin-right: 7rem;
    }

    .divNecesitamos {
        margin: 4rem 0 3rem 0;
    }

    .divSeccionAdn2 {
        flex-wrap: nowrap;
    }

    .divSeccionAdn2Img {
        display: flex;
        justify-content: center;
    }

    .divSeccionAdn img, .divSeccionAdn2 img {
        margin-right: 7rem;
        width: 45rem;
    }

    .tituloAdn, .tituloAliados, .tituloFamilia, .tituloNecesitamos {
        font-size: 1.8rem;
    }

    .textoAdn, .textoAliados, .textoFamilia, .textoNecesitamos {
        font-size: 1.6rem;
    }

    .textoAliados, .textoNecesitamos {
        margin: 0;
    }

    .textoQuienes {
        margin: 0 7rem 0 7rem;
        font-size: 1.6rem;
    }

    .formContacto {
        width: 50%;
    }

    .botonBanner, .botonTrafico, .botonSitio {
        font-size: 1.8rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding: 1.3rem 2.8rem 1.3rem 2.8rem;
        border-radius: 0.7rem;
        border: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px 2px rgba(53, 53, 53, 0.1);
        background-color: #BDDCF2;
        margin-top: 2rem;
    }

    .card1, .card2, .card3 {
        width: 32rem;
        height: 25rem;
    }

    .card4, .card5, .card6 {
        width: 32rem;
        height: 26rem;
    }

    .textoCard {
        padding-top: 6.3rem;
        margin: 0 2rem 0 2rem;
    } 
}


